<%- include('../partials/layout', { 
  title: 'All Recipes',
  content: `
    <section class="page-header">
        <h1>All Recipes</h1>
    </section>

    <section class="recipes-container">
        <div class="recipe-grid">
            ${recipes.length === 0 ? 
              '<p>No recipes found.</p>' : 
              recipes.map(recipe => {
                return include('../partials/recipe-card', { recipe });
              }).join('')
            }
        </div>
    </section>
  `
}) %> 